CREATE TABLE IF NOT EXISTS addresses (id uuid PRIMARY KEY DEFAULT extensions.uuid_generate_v4(), street_address text, city text, state text, postal_code text, country text, created_at timestamp with time zone DEFAULT now(), updated_at timestamp with time zone DEFAULT now());
